.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    color: white;
}
body{
    background-color: rgb(50,200, 50);
    margin: 5px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(110, 210, 130);
    margin: 50px;
}

.origami{
    border: 2px solid rgb(230, 87, 87);
    border-radius: 0px;
    padding: 50px;
    margin: 50px;
    width: 310px;
    font-family: fantasy;
    background-color:rgb(20, 110, 50)
}
.bodyimg{
    justify-content: space-evenly;
}
